<nav class="my-3" aria-label="Page navigation">
  <div class="pagination pagination-sm justify-content-center">
  
  {% if pagination.previous %}
  <div class="page-item">
    <a class="page-link" href="{{ pagination.previous | url }}"><i class="fas fa-arrow-left"></i></a>
  </div>
  {% else %}
  
  <div class="page-item disabled">
    <span class="page-link disabled" href="{{ pagination.previous | url }}"><i class="fas fa-arrow-left"></i></span>
  </div>
  {% endif %}
  {% for link in paginaiton.links %}  

  <div class="page-item active"><a class="page-link" href=""></a></div>
  {% endfor %}
  
  <div class="page-item">
    <a class="page-link" href=""><i class="fas fa-arrow-right"></i></a>
  </div>
  
  <div class="page-item disabled">
    <a class="page-link" href=""><i class="fas fa-arrow-right"></i></a>
  </div>
  
  </div>
</nav>